<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form id="productForm">
    <label for="title"><b>Title</b></label>
    <input type="text" id="title" name="title">

    <label for="description"><b>Description</b></label>
    <input type="text" id="description" name="description">

    <label for="price"><b>Price</b></label>
    <input type="number" id="price" name="price">

    <label for="owner"><b>Owner</b></label>
    <input type="text" id="owner" name="owner">

    <input type="submit" value="Product">
</form>

<script src="saveProduct.js"></script>

</body>
</html>